black
bumpversion
twine
tox
ipython
bandit
black; python_version > '3.5'
codecov
bump2version
flake8
flake8-cognitive-complexity
mypy
pylint
{% if cookiecutter.use_pytest == 'y' -%}
pytest
pytest-cov
{%- endif %}